:root {
  --primary-color: #004680;
  --secondary-color: #828d95;
  --accent-color: #ffdb00;
  --text-color: #051c2b;
}

body {
  color: var(--text-color);
}

.bg-primary {
  background-color: var(--primary-color);
}
.bg-secondary {
  background-color: var(--secondary-color);
}
.bg-accent {
  background-color: var(--accent-color);
}

.text-primary {
  color: var(--primary-color);
}
.text-secondary {
  color: var(--secondary-color);
}
.text-accent {
  color: var(--accent-color);
}

.d-none {
  display: none !important;
}

/* Tooltip */
[data-tooltip]::before {
  /* needed - do not touch */
  content: attr(data-tooltip);
  position: absolute;
  opacity: 0;

  /* customizable */
  transition: all 0.15s ease;
  padding: 10px;
  color: #333;
  border-radius: 10px;
  box-shadow: 2px 2px 1px silver;
}

[data-tooltip]:hover::before {
  /* needed - do not touch */
  opacity: 1;

  /* customizable */
  background: yellow;
  margin-top: -50px;
  margin-left: 20px;
}

[data-tooltip]:not([data-tooltip-persistent])::before {
  pointer-events: none;
}
