.table-wrapper {
  position: relative;
}

.table-row.is-being-edited {
  height: 3rem;
}
.row.active {
  outline: solid 2px #ffdb00 !important;
}
.row.active .cell-is-selected {
  background-color: #ffdb00;
}

.cell-is-selected {
  min-width: 5px;
}

.modal.suggestions {
  position: absolute;
  bottom: calc(100% - 10px);
  border: solid 2px #333;
  padding: 0.25rem;
  background: #fff;
  border-radius: 6px;
}

.modal .suggestion.row:not(:last-child):not(.selected):not(:hover) {
  border-bottom: solid 1px #333;
}

.modal .suggestion.row:hover,
.suggestion.row.selected {
  outline: solid 2px #ffdb00 !important;
  border-color: #0000;
}

.modal .suggestion-col .value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modal .suggestion-col .value:hover {
  white-space: normal !important;
}

.suggestion em {
  color: #0000;
}

table button {
  font-size: 0.65rem;
  height: 1rem;
  line-height: 1;
}

.new-row .suggestion {
  text-align: left;
  max-width: 15rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
