.card {
  @apply rounded p-2 m-3 h-fit;
}
/* Buttons */
button {
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 0.3rem 0.6rem 0.225rem;
  margin: 0.5rem;
  line-height: 100%;
  height: 2rem;
  background: #ffdb00;
}

.btn-circle {
  @apply rounded-full font-bold h-6 w-6 flex items-center justify-center border border-gray-300;
}

.btn-circle:has(svg) {
  padding: 0 !important;
}

button,
.btn {
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari and Chrome */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
}

/* Input */
input:not([type='checkbox']):not([type='radio']) {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.95rem;
  line-height: 2.25;
  padding: 0.3rem 0.6rem 0rem 0.6rem;
  margin: 0 0.25rem;
  height: 2rem;
}

textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.3rem;
  margin: 0.25rem;
  height: 1rem;
  overflow-y: hidden;
}

input:focus-visible {
  outline: 2px solid #ccc;
}

.input-name {
  position: relative;
}

.input-name div {
  font-size: 0.95rem;
  position: absolute;
  top: 0.5375rem;
  left: 0.975rem;
  pointer-events: none;
  filter: opacity(0.5);
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  user-select: none;
}
.input-duration {
  width: 4rem;
  text-align: center;
}
.input-date {
  width: 6.5rem;
}

input[type='checkbox'] {
  cursor: pointer;
}

/* Select */

select {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.95rem;
  padding: 0.3rem 0.6rem;
  margin: 0 0.25rem;
  height: 2rem;
  background: #fff;
}

.atomic:has(select) {
  background: #ffdb00;
  padding: 0.5rem;
  width: fit-content;
  border-radius: 9999px;
}

option[disabled] {
  display: none;
}

/* Menu */
li {
  white-space: nowrap;
}
